extends layout

block content
    h1 Lista de musicas com provincia #{provincia}
    table
        tr 
            th Identificador 
            th Nome 
            th Link para o Git 

        each a in musicas
            tr
                td 
                    a(href="/musicas/"+a.id)= a.id
                td= a.tit
                td
                    a(href="/musicas/artista/"+a.musico)= a.musico 


